.track__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30px;

    .btn {
        padding: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background: #202020;
        margin-right: 10px;
        opacity: 0.5;
        transition: 0.2s opacity;

        i {
            color: #FFF;

            &[hidden] {
                display: none;
            }
        }

        &:hover {
            opacity: 1;
        }
    }

    .track__percentage {
        width: 100%;
        flex: 100% 1 1;
        padding: 1px 0;
        position: relative;
        overflow: hidden;

        &:before {
            content: '';
            display: block;
            height: 1px;
            background: rgba(#202020, 0.5);
        }

        .track__played {
            position: absolute;
            height: 100%;
            width: 100%;
            right: 100%;
            top: 0;
            transition: 1s right;
            background: #202020;
            border-radius: 3px;
        }
    }
}